
input:focus {outline:none;}


:root {
    --color__accent: rgba(22,201,214,1.0);
    --field__background: #f9f9f9;
    --field__background--hover: #f5f5f5;
    --input__border: rgba(22,201,214,1.0);
    --input__border--hover: rgba(22,201,214,1.0);
    --label__color: rgba(56,56,56,1.0);
}

.floating {
    margin-bottom: 1em;
    /* background-color: var(--field__background);*/
    transition: background-color 0.2s ease;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.floating:hover,
.floating:focus-within {
  /*background-color: var(--field__background--hover);*/
}

.floating__input {
  padding: 1.8rem 1rem 0.6rem 0;
  font-size: 1.1em;
  border: none;
  background: none;
  border-bottom: 0.1rem solid var(--input__border);
  transition: border-color 0.2s ease;
  width:100%;
  caret-color: var(--color__accent);
}

.floating:hover .floating__input {
  border-color: var(--input__border--hover);
}

.floating__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
}

.floating__label::before {
  color: var(--label__color);
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: left -2rem;
  transition: transform 0.2s ease;
  left: 0;
  position: relative;

}

.floating__label::after {
  bottom: 1rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;
  background-color: var(--color__accent);
}

.floating__input:focus + .floating__label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.floating__input:-moz-placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__input:-ms-input-placeholder + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__input:placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus + .floating__label::before {
  color: var(--color__accent);
}

/* apply a natural box layout model to all elements, but allowing components to change */
form {
  box-sizing: border-box;
  font-size: 110%;
}

form *,
form *:before,
form *:after {
  box-sizing: inherit;
}

.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.button {
  /*background: var(--color__accent);
  border-width: 0;
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: 500;*/
  /*text-transform: uppercase;*/
  letter-spacing: 0;
}
input[type='submit'] {
  font-size:95%
}

input[type='checkbox'] {
  /*display: inline-block;*/
  width:20px;
  height:20px;
  margin-right:10px;
}




