// typo defaults
a:link, a:visited
    color: brand1
    text-decoration: none
    transition: 0.5s
a:hover
    color: brand1
    //text-decoration: underline
    transition: 0.5s

/* p a:link,
p a:visited,
li a:link,
li a:visited
    text-decoration: underline

#navHeader a:link, #navHeader a:visited
    color: brand5
*/


// custom typo
ul
    margin-bottom: 2em
    padding-left: 0
    padding-right: 0

ul li
    font-size: 1.1em
    line-height: 1.4em
    margin-bottom: 0em
    list-style-type: none
    padding-bottom: 1.1em
    padding-top: 1em
    padding-right: 1em
    border-bottom: 1px solid brand2
ul li:last-child
    border-bottom: none
/*ul li:first-child
    padding-top: 0*/
ul.light li
    border-bottom: 1px solid whiteAlp50
ul p
    margin-bottom: 0
    margin-top: 0

.reverse ul
    border-top: 1px solid brand1
    border-bottom: 1px solid brand1
    @media phoneRule
        width: 100%

.reverse li
    color: brand4
    border-bottom: 1px solid brand1
    
    
.reverse li strong 
    color: white
.reverse .galleryElement ul,
.reverse .galleryElement li
    border:none


 ul.simpleGrid
    border:none
.simpleGrid li
    font-size: 1.2em
    line-height: 1.3em


// picturefill-bg and image teaser
*.picturefill-background a
    color: brand1 
@media ttrigger
    *.picturefill-background.lighten1,
    *.picturefill-background.lighten1 a,
    *.picturefill-background.lighten2,
    *.picturefill-background.lighten2 a
    *.picturefill-background.darktext,
    *.picturefill-background.darktext a
        color: blackAlp50
    *.picturefill-background.lighttext,
    *.picturefill-background.lighttext a
        color: white      
*.picturefill-background a
    //text-decoration: underline

nav a:hover
    color: brand1
p a:link,
p a:visited
    color: brand3
    text-decoration: underline    
p a:hover
    color: brand2

.activeLink, 
li a:hover,
*.picturefill-background a:hover
    color: white !important
    transition: 300ms
/*.activeLink,
nav a:hover
    border-bottom-color: white !important;
*/


header > nav 
    padding-bottom: navHeight*0.125
    display: flex
    column-gap: padXXS*1.8
    @media dtrigger
        //padding: padXXS*1.5 padXXS padXXS padXXS
header > nav a:link
    //margin-right: marXS

nav a:link
    font-weight: 400
    display: inline-block
    font-size:navHeight*0.28
    @media phoneRule
        font-size:1em
    @media dtrigger
        font-size:navHeight*0.28
    @media lgdesktopRule
        font-size:1.2em
nav a:link.activeLink, nav a:visited.activeLink
    padding-bottom: padXXS*0.35
    color: brand3
    border-bottom: 2px solid white
nav a:link
    white-space: nowrap

nav a.subnav 
    margin-left: 2em

nav.vertical
    display: flex
    flex-direction: column
    align-items: flex-start
nav.vertical a
    margin-bottom: 4px

nav.leftSpaced
    display:flex
    column-gap: 1.5vw
    @media phoneRule
        flex-direction: column



nav a:not(.activeLink):link:after, 
nav a:not(.activeLink):visited::after 
    content: ""
    display: block
    width: 0
    border-bottom: 2px solid brand1
    transition: width 0.3s
    padding: 0 0 padXXS*0.35 0
nav a.effect:not(.activeLink):hover::after
    width: 100%




/* dark slider nav     
body.darkSlider > header.fixed .siteLogo span,
body.darkSlider > header.fixed nav a.activeLink,
body.darkSlider > header.fixed nav a.activeLink:hover
    color: brand2 !important;
    border-bottom: none !important;
body.darkSlider > header.fixed nav a,
body.darkSlider > header.fixed nav a.ctaButton
    color: white !important;
    border-bottom: 2px solid rgba(255,255,255,1.0) !important;
body.darkSlider > header.fixed nav a:not(.activeLink):hover
    color: brand5 !important;
    transition: 0.5s
    border-bottom: 2px solid brand5 !important;
body.darkSlider > header.fixed nav a:last-child:not(.activeLink):hover
        border-bottom: none !important;
        */ 
/* light slider nav    
body.lightSlider > header.fixed .siteLogo span,
body.lightSlider > header.fixed nav a.activeLink
    color: brand2 !important;
body.lightSlider > header.fixed nav a,
body.lightSlider > header.fixed nav a.ctaButton
    color: brand1 !important;
    border-color: brand1 !important;
body.lightSlider > header.fixed nav a:hover
    color: brand2 !important;
    border-color: brand1 !important;
*/

/* dark theme navs 
body.darkTheme > header.sticky .siteLogo span,
body.darkTheme > header.sticky nav a.activeLink,
body.darkTheme > header.sticky nav a.activeLink:hover
    color: white !important;
    //border-bottom: 3px solid white !important;
body.darkTheme > header.sticky nav a,
body.darkTheme > header.sticky nav a.ctaButton
    font-size: 1.1em
    color: brand2 !important;
    //border-bottom: 3px solid rgba(0,0,0,0) !important; 
body.darkTheme > header.sticky nav a:hover
    color: brand2 !important;
    //border-bottom: 3px solid brand2 !important;
*/ 

/* light theme navs 
body.lightTheme > header.sticky .siteLogo span,
body.lightTheme > header.sticky nav a.activeLink
    color: brand0 !important;
body.lightTheme > header.sticky nav a,
body.lightTheme > header.sticky nav a.ctaButton
    color: brand1 !important;
    border-color: brand1 !important;    
body.lightTheme > header.sticky nav a:hover
    color: brand0 !important;
    border-color: brand0 !important;


header.fixed nav
    display: flex
    column-gap: 0.5em
*/

h1, h2, h3, h4 ,h5, h6
    margin: 0
    margin-bottom: 10px

// defaults   
h1
    font-weight: 600
    font-size: 4.5em
    line-height: 1em
    letter-spacing: -0.025em
    text-wrap: balance
    
h2
    font-weight: 600
    font-size: 3em
    line-height: 1.03em
    letter-spacing: -0.025em
    text-wrap: balance

h3
    font-weight: 500
    font-size: 2.25em
    line-height: 1.02em
    letter-spacing: -0.02em
h4
    font-weight: 400
    font-size: 1.5em
    line-height: 1.1em
h5
    font-weight: 400
    font-size: 1.25em
    line-height: 1.15em
h6
    font-weight: 400
    font-size: 1.15em
    line-height: 1.15em
    letter-spacing: -0.01em
p
    font-weight: 400
    font-size: 1.15em
    line-height: 1.2em
    letter-spacing: -0.01em
    margin: 0



@media phoneRule
    h1
        font-size: 3em
        
    h2
        font-size: 2.5em

    h3
        font-size: 2.25em

    h4
        font-size: 1.5em

    h5
        font-weight: 400
        font-size: 1.25em
        line-height: 1.15em
    h6
        font-weight: 400
        font-size: 1.15em
        line-height: 1.15em
        letter-spacing: -0.01em
    p
        font-weight: 400
        font-size: 1.15em
        line-height: 1.2em
        letter-spacing: -0.01em
        margin: 0

@media lgdesktopRule
    p, h6
        font-size: 1.5em
@media smallHeightDesktop
    h1
        font-size: 3em


a.siteLogo:hover
    cursor: pointer

strong 
    font-weight: 600
    //letter-spacing: -0.015em

// modify typo
.small
    font-size: 0.95em    
.balanced,
div.fullW p
    text-wrap: balance !important





// footer
body > footer
    font-size: 0.9em
    line-height: 1em
    text-align: center 
    font-weight: 400  
body > footer nav 
    display: flex
    flex-direction: column
body > footer a
body > footer i:before
    color: white !important; 
body > footer .links a
    color: white !important; 
    display: inline-block
    padding: 5px 3px 3px 3px 
    margin: marXXS*0.45 0
    border-bottom: 1px solid brand1

body > footer a:hover,
body > footer i:hover:before
    transition: 0.5s
    color: brand1mid !important;
    
body > footer .links a:hover 
    color: brand1mid !important;
    text-decoration: none
    transition: 0.5s
    border-bottom: 1px solid brand1mid

body > footer a.activeLink
    color: brand0 !important; 
    @media dtrigger
        border-left: 3px solid brand0
        margin-left: padXXS*1.15







.reverse
    color: white
.reverse a:not(.ctaButton)
    color: white
    text-decoration: underline

.balanced 
    text-wrap: balanced

.noUppercase
    text-transform: none




//text effects 
.responsiveLarge
    font-size: 5vw
    line-height: 95%
    letter-spacing: -0.3vw
    //font-weight: 700
    @media phoneRule
        font-size:6.5vh
        line-height: 110%
    @media lgdesktopRule
        font-size:5vw
.responsiveLarge .outline
    letter-spacing: -0.2vw
.outline
    -webkit-text-stroke: 1.25px
    -webkit-text-fill-color: rgba(0,0,0,0)
.strokeBrand0
    -webkit-text-stroke-color: brand0
.strokeBrand1
    -webkit-text-stroke-color: brand1
.strokeBrand2
    -webkit-text-stroke-color: brand2
.strokeBrand3
    -webkit-text-stroke-color: brand3
.strokeBrand4
    -webkit-text-stroke-color: brand4
.strokeBrand5
    -webkit-text-stroke-color: brand5
.strokeBrand6
    -webkit-text-stroke-color: brand6
.light
    font-weight: 300





.upperCase {text-transform: uppercase;}
.outlineCase-black {-webkit-text-stroke: 2px black;}
.outlineCase-white {-webkit-text-stroke: 2px white;}
.outlineCase-cyan1 {-webkit-text-stroke: 2px brand1}
.outlineCase-cyan2 {-webkit-text-stroke: 2px brand2}
.noTextFill {color: rgba(0,0,0,0.0);}







@media mtrigger
    .vh10 {font-size: 9.25vh !important;}
    .vh9 {font-size: 8.25vh !important;}
    .vh8 {font-size: 7.75vh !important;}
    .vh7 {font-size: 6.75vh !important;}
    .vh6 {font-size: 6vh !important;}
    .vh5 {font-size: 5vh !important;}
    .vh4 {font-size: 3.75vh !important;}
    .vh3 {font-size: 3.5vh !important;}
    .vh2 {font-size: 3vh !important;}
    .vh15 {font-size: 2.75vh !important;}
    .vh11 {font-size: 2.5vh !important;}
    .vh1 {font-size: 2vh !important;}
    .vh0 {font-size: 1.75vh !important;}

@media dtrigger
    .vh10 {font-size: 10vw; letter-spacing: -0.05em; line-height: 0.9em !important; margin-bottom: 0.1em !important; left: -0.5vw}
    .vh9 {font-size: 9vw; letter-spacing: -0.05em; line-height: 0.9em !important;margin-bottom: 0.1em !important; left: -0.4vw;}
    .vh8 {font-size: 8vw; letter-spacing: -0.05em; line-height: 0.9em !important; margin-bottom: 0.15em !important; left: -0.4vw;}
    .vh7 {font-size: 6.5vw; letter-spacing: -0.05em; line-height: 0.9em !important; margin-bottom: 0.2em !important; left: -0.3vw;}
    .vh6 {font-size: 5vw; letter-spacing: -0.035em; line-height: 0.95em !important; margin-bottom: 0.275em !important; left: -0.25vw;}
    .vh5 {font-size: 4vw; letter-spacing: -0.04em; line-height: 1em !important; margin-bottom: 0.3em !important; left: -0.2vw;}
    .vh4 {font-size: 3vw; letter-spacing: -0.03em; line-height: 1em; margin-bottom: 0.4em !important; left: -0.15vw;}
    .vh3 {font-size: 2.5vw; letter-spacing: -0.02em; line-height: 1.05em; margin-bottom: 0.4em !important;}
    .vh2 {font-size: 2vw; letter-spacing: -0.015em; line-height: 1.15em !important; margin-bottom: 0.5em !important;}
    .vh15 {font-size: 1.5vw; letter-spacing: 0em; line-height: 1.15em !important; margin-bottom: 0.5em !important;}
    .vh11 {font-size: 1.1vw; letter-spacing: 0em; line-height: 1.15em !important; margin-bottom: 0.5em !important;}
    .vh1 {font-size: 1.1vw; letter-spacing: 0em; line-height: 1.2em !important; margin-bottom: 0.5em !important;}
    .vh0 {font-size: 1vw; letter-spacing: 0em; line-height: 1.2em !important; margin-bottom: 0.5em !important;}


.fw100 {font-weight: 100 !important;}
.fw200 {font-weight: 200 !important;}
.fw300 {font-weight: 300 !important;}
.fw400 {font-weight: 400 !important;}
.fw500 {font-weight: 500 !important;}
.fw600 {font-weight: 600 !important;}
.fw700 {font-weight: 700 !important;}
.fw800 {font-weight: 800 !important;}
.fw900 {font-weight: 900 !important;}
.fw1000 {font-weight: 1000 !important;}
